@model PlantVM

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>PlantVM</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>


            <div class="form-group">
            <label asp-for="MainPhoto" class="control-label"></label>
            <input asp-for="MainPhoto" class="form-control" />
            <span asp-validation-for="MainPhoto" class="text-danger"></span>
            </div>
            <div class="form-group">
            <label asp-for="HoverPhoto" class="control-label"></label>
            <input asp-for="HoverPhoto" class="form-control" />
            <span asp-validation-for="HoverPhoto" class="text-danger"></span>
            </div>
            <div class="form-group">
            <label asp-for="Images" class="control-label"></label>
            <input asp-for="Images" class="form-control" />
            <span asp-validation-for="Images" class="text-danger"></span>
            </div>
            <div class="form-group">
            <label asp-for="Name" class="control-label"></label>
            <input asp-for="Name" class="form-control" />
            <span asp-validation-for="Name" class="text-danger"></span>
            </div>


            <div class="form-group">
            <label asp-for="Price" class="control-label"></label>
            <input asp-for="Price" class="form-control" />
            <span asp-validation-for="Price" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DiscountPrice" class="control-label"></label>
                <input asp-for="DiscountPrice" class="form-control" />
                <span asp-validation-for="DiscountPrice" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Quantity" class="control-label"></label>
                <input asp-for="Quantity" class="form-control" />
                <span asp-validation-for="Quantity" class="text-danger"></span>
            </div>



            <div class="form-group">
            <label asp-for="SKU" class="control-label"></label>
            <input asp-for="SKU" class="form-control" />
            <span asp-validation-for="SKU" class="text-danger"></span>
            </div>
            <div class="form-group">
            <label asp-for="Desc" class="control-label"></label>
            <input asp-for="Desc" class="form-control" />
            <span asp-validation-for="Desc" class="text-danger"></span>
            </div>

          <div class="form-group" style="display:flex">
                <div class="form-group" style="width:150px">
                    <label class="control-label">Color</label>
                    <select asp-for="ColorIds" asp-items="@(new SelectList(ViewBag.Color,"Id","Name"))" class="form-control"></select>
                    <span asp-validation-for="ColorIds" class="text-danger"></span>
                </div>
                <div class="form-group" style="width:150px">
                    <label class="control-label">Size</label>
                    <select asp-for="SizeIds" asp-items="@(new SelectList(ViewBag.Size,"Id","Name"))" class="form-control"></select>
                    <span asp-validation-for="SizeIds" class="text-danger"></span>
                </div>
            </div>

           

            <div class="form-group">
            <label class="control-label">Plant delivery information</label>
            <select asp-for="PlantDeliveryInformationId" asp-items="@(new SelectList(ViewBag.Informations,"Id","Shipping"))" class="form-control"></select>
            <span asp-validation-for="PlantDeliveryInformationId" class="text-danger"></span>
            </div>
            <div class="form-group">
            <label class="control-label">Categories</label>
            <select asp-for="CategoryIds" asp-items="@(new SelectList(ViewBag.Categories,"Id","Name"))" class="form-control"></select>
            <span asp-validation-for="CategoryIds" class="text-danger"></span>
            </div>
            <div class="form-group">
            <label class="control-label">Tags</label>
            <select asp-for="TagIds" asp-items="@(new SelectList(ViewBag.Tags,"Id","Name"))" class="form-control"></select>
            <span asp-validation-for="TagIds" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>
<div>
    <a asp-action="Index">Back to List</a>
</div>

